/* Blue */

a{
	color: #1570a6;
}

a:hover{
	color: #11608f;
}

blockquote{
	border-left: 4px solid #1570a6;
}

.color{
	color: #1570a6;	
}

header{
	border-top: 2px solid #1570a6;
}

.navbar .btn{
background:#1570a6 !important;  
}

.navbar .btn:hover{
background:#11608f !important;
}

.da-slider{
	border-top: 3px solid #1570a6;
	border-bottom: 3px solid #1570a6;
}

.da-slide h2 span{
	background: url("../img/border-b.png") left bottom no-repeat;
}

.da-slide .da-link{
	background: #1570a6;
}	

.da-slide .da-link:hover{
	background: #11608f;
}

.da-dots span{
	background: #1570a6;
}

.da-arrows span{
	background: #1570a6;
}

.full-slider{
	border-top: 5px solid #11608f;
	background: #1570a6;
}

.full-slider .button a{
	background: #11608f;
}

.full-slider .button a:hover{
	background: #11608f;
}	

.flex-back{
	background: #11608f;	
}

.home-product{
	background: #1570a6;
}

.home-product .home-prod-img{
	border: 1px solid #11608f;
}

#portfolio .element{
	background: #11608f;
}

#portfolio .pcap{
	background:#1570a6;
	border-top: 2px solid #11608f;
}

/* Events - Accordion*/

.events .accordion-heading h5{
background:#1570a6;
}

.social-links{
	background: #1570a6;	
}

.social-links i{
	background: #11608f;
}

.formy{
	background: #1570a6;
}

.service-two i{
	color: #1570a6;	
}

.features-two .feat i, .features-three i{
	color: #1570a6;
}

.about-two .asocial i{
	background:#1570a6;
}

.career .nav-tabs > li > a:hover{
	background: #1570a6;
}

.button a{
	background: #1570a6;
}

.button a:hover{
	background: #11608f;
}	

.paging a:hover{
	background: #1570a6;
}

.paging .current{
	background: #11608f;
}

.content h4 {
    margin-top: 20px;
}

.content li {
    list-style: disc;
    margin-left: 20px;
}

.content p {
    margin-bottom: 12px;
}

.content .page {
    min-height: 200px;
}

.language {
    padding-top: 40px;
}

.language a {
    display: inline-block;
    border-radius: 30px !important;
    padding: 5px 7px;
    text-align: center;
    background: #666;
    color: #fff;
    opacity: 0.5;
}

.language a span {
    text-transform: uppercase;
}

.language a:hover {
    text-decoration: none;
    opacity: 1;
}

.language .active {
    background: #369;
    opacity: 1;
}

.social-links span {
    padding-right: 20px;
}

.social-links a:hover {
    opacity: 0.5;
}

.hover-block small {
    display: block;
    opacity: 0.5;
}