/*general settings*/
html{
    min-width: 420px !important;
}
body {
    font-family: 'Open Sans', sans-serif;
    color:#333333;
    font-size:14px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size:48px;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
    color:#333333;
}

h1 span {
    font-weight:normal;
}

h2 {
    line-height:1;
    margin:0;
    font-size:18px;
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
    font-weight:bold;
    font-size:14px;
}

a {
    color:#70a39f;
    text-decoration:underline;
}

a:hover {
    color:#70a39f;
    text-decoration:none;
}

a:active,
button:active,
a:focus,
button:focus {
    outline:none !important;
}

.gray-block {
    background:#f0efef;
    position:relative;
    padding:25px 0;
    margin:25px 0;
}

.gray-block:before {
    content:"";
    background:url(../img/gray_shadow_top.png) repeat-x;
    position:absolute;
    width:100%;
    height:9px;
    top:-9px;
    left:0;
}

.gray-block:after {
    content:"";
    background:url(../img/gray_shadow_bottom.png) repeat-x;
    position:absolute;
    width:100%;
    height:9px;
    bottom:-9px;
    left:0;
}

.btn.btn-blue {
    background:#87D0CB;
    text-transform: uppercase;
    font-weight:bold;
    color:#fff;
    padding:15px 60px;
    font-size:21px;
    line-height:1;
}

.btn.btn-blue:hover {
    background:none;
    color:#70AFAB;
}

.btn.btn-red {
    background:#AE3951;
    text-transform: uppercase;
    font-weight:bold;
    color:#fff;
    padding:15px 60px;
    font-size:21px;
    line-height:1;
}

.btn.btn-red:focus,
.btn.btn-red:active,
.btn.btn-blue:focus,
.btn.btn-blue:active {
    box-shadow:none;
    outline:none;
}

.slider-arrows {
    display:block;
    background:url(../img/sprite_arrows.png) left no-repeat;
    width:19px;
    height:32px;
    position:absolute;
    left:10px;
    top:50%;
    margin-top:-21px;
    z-index:20;
}

.arrow-right {
    background-position: right;
    right:10px;
    left:auto;
}


.item-btn {
    width:270px;
    height:54px;
    background:url(../img/sprite_blue_d_u.png) top left no-repeat;
    display:inline-block;
    margin-left:10px;
    background-size:auto 108px;
}

.item-upload {
    background-position: top right;
}

.item-btn:hover {
    background-position-y:-54px;
}

.sound-btn {
    width:270px;
    height:54px;
    float: left;
    text-transform: uppercase;
    margin-left:10px;
    background: #87D0CB;
    border-radius:6px;
    box-shadow: 0 0 0 3px rgba(255,255,255, 0.35);
    color:#fff;
    vertical-align:middle;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration:none;
    font-size:19px;
    font-weight:bold;
    padding:12px 0 0 10px;
}

.sound-btn-small {
    width:50px;
    float: left;
    height:54px;
    display:inline-block;
    text-transform: uppercase;
    margin-left:10px;
    background: #87D0CB;
    border-radius:6px;
    box-shadow: 0 0 0 3px rgba(255,255,255, 0.35);
    color:#fff;
    vertical-align:middle;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration:none;
    font-size:19px;
    font-weight:bold;
    padding:12px 0 0 10px;
}
.sound-btn:hover {
    color:#fff;
    background:#70AFAB;
    box-shadow: 0 0 0 3px rgba(255,255,255, 1);
}

.sound-btn i,
.sound-btn-small i {
    width:20px;
    height:26px;
    display:inline-block;
    background:url(../img/slider_arrows.png) top left no-repeat;
    float:right;
    margin:2px 15px 0 0;
}

.sound-download i {
    background-position:top right;
}

.sound-upload i {
    background-position:top left;
}


/*general settings*/

/*header*/

.logo {
    padding-top:3px;
}

header {
    background:#333333;
    min-height:69px;
    position:absolute;
    top:0;
    width:100%;
    z-index:2;
}

header .container {
    height:69px;
}

/*main menu*/

.main-navigation {
    float:right;
}

.main-navigation ul {
    margin:0;
    padding:0;
}

.main-navigation li {
    display:inline-block;
    vertical-align:middle;
    margin: -4px 0 0 -4px;
}

.main-navigation a {
    display:inline-block;
    height: 73px;
    padding:32px 20px 0;
    color:#B8B8B8;
    font-weight: bold;
    text-transform:uppercase;
    line-height:1;
    text-decoration: none;
}

.main-navigation a:hover {
    color:#fff;
    background: #87D0CB;
    text-decoration: none;
}

/*main menu*/


/*header*/


/*main slideshow*/

.carousel-caption {
    bottom:auto;
    top:20%;
    left:40px;
    right:0;
    text-align: left;
}

.carousel-caption h1 {
    font-size:36px;
    text-align: left;
    margin-bottom:25px;
}

.carousel-caption h1 a {
    color:#333333;
    text-decoration: none;
}

.carousel-img-bg {
    width:100%;
    height:auto;
}

#mainSlider {
    position: relative;
}

#mainSlider:after {
    content:"";
    background:url(../img/gray_shadow_bottom.png) repeat-x;
    position:absolute;
    width:100%;
    height:9px;
    bottom:-9px;
    left:0;
}

#mainSlider .slider-arrows {
    margin-top:20px;
}

#mainSlider .carousel-desc {
    padding:0;
    float:none;
    margin-bottom: 4%;
}

#mainSlider .carousel-desc p {
    display:inline;
    clear:both;
    font-size:20px;
    line-height:1.4;
    padding:0 10px;
    background:rgba(39,45,35,0.65);
}

.carousel-indicators {
    left:auto;
    bottom:15px;
    right:40px;
    width: auto;
}

.carousel-indicators li {
    background:rgba(39,45,39,0.65);
    border:none;
    width:15px;
    height:15px;
    margin:0 10px 0 0;
}

.carousel-indicators li.active {
    background:rgba(39,45,39,1);
    border:none;
    width:15px;
    height:15px;
    margin:0 10px 0 0;
}

/*main slideshow*/


/*song slideshow*/

.songs-slider {
    margin:25px 0;
    padding:0;
}

.song-row {
    text-align:center;
    padding:0;
    margin:0;
}

.song-row li {
    display:inline-block;
    margin:25px 2%;
    height:220px;
}

.song-row li img {
    width:100%;
    height:100%;
}

.song-item {
    position:relative;
    color:#fff;
}

.song-desc {
    background: rgba(51,51,51,0.8);
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    padding:10px 18px 0;
    cursor:pointer;
    text-align: left;
}

.song-desc-autor {
    display:block;
    margin:10px 0 10px;
}

.song-desc .view-more {
    float:right;
}

.view-more {
    cursor:pointer;
    padding-right:25px;
    background:url(../img/ico_read_more.png) right center no-repeat;
    text-decoration: underline;
    font-size:14px;
}

.song-desc-toggle {
    display:none;
    font-size:12px;
    padding-top:10px;
    margin-bottom:10px;
    overflow:hidden;
}

.song-desc-info {
    max-height: 70px;
    overflow: hidden;
}

.link-to-song,
.link-to-song:hover {
    text-decoration:none;
    color:#fff;
}

/*song slideshow*/

/*about us*/

.about-us {
    text-align: center;
    padding:30px 0;
    margin-top:20px;
    margin-bottom:0;
}

.about-us p {
    font-size:18px;
    color:#666666;
}

.about-us .btn {
    margin-top:15px;
}

/*about us*/

/*partners logos row*/

.partners-row {
    margin:15px 0;
}

.partners-row-list {
    text-align:center;
    padding:0;
}

.partners-row-list li {
    display:inline-block;
    text-align:center;
    float:none;
    margin-left:6%;
}

.partners-row-list li:first-child {
    margin-left:0;
}

/*partners logos row*/

/*prizes*/


/*prizes*/

/*about label*/

.about-label-text {
    float:none;
    margin:0 auto;
}

/*about label*/


/*competition buttons*/

.comp-item-btns {
    margin:40px 0 20px;
    text-align: center;
    overflow: hidden;
}

.comp-item-btns .sound-btn {
    float: none;
    display:inline-block !important;
    margin-bottom: 15px;
}

.btn-navigation {
    text-align: center;
}
.btn-navigation li button {
    padding: 0;
}
.btn-navigation .btn-requirements {
    padding-left:15px;
    padding-right:15px;
}

.btn-navigation li {
    display:inline-block;
    margin:0 0 10px 10px;
}



/*competition buttons*/

/*participant info*/

.participant-item {
    margin-top:40px;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: -8%;
    z-index: -1;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;
}

.participant-table {
    float:none;
    margin:0 auto;
    border-collapse: separate;
    border-spacing:35px 0;
    line-height:1.6;
}

.participant-table td {
    width:50%;
    vertical-align:top;
}


.participant-table tr td:first-child {
    text-align:right;
}

.participant-table strong {
    text-transform:uppercase;
}

.participant-main-info td {
    vertical-align:middle;
}

.participant-main-info p {
    margin:0;
}

.participant-website {
    margin-top:5px;
    margin-right:5px;
}

.socnet-ico {
    display:inline-block;
    width:28px;
    height:28px;
    background:url(../img/sprite_socnet.png) 0 0 no-repeat;
}

.ico-prize {
    display:inline-block;
    width:28px;
    height:28px;
    background:url(../img/ico_prize.png) no-repeat;
}

.socnet-ico.socnet-fb {
    background-position: -31px 0;
}
.socnet-ico.socnet-tw {
    background-position: -64px 0;
}

.socnet-ico:hover {
    background-position-y:-29px;
}


.about-participant-text {
    float:none;
    margin:0 auto;
}

.about-participant-text p {
    font-size:18px;
}

.about-participant-text .view-more {
    float:right;
}



/*participant info*/

/*footer*/

footer {
    background:#333333;
    position:relative;
    padding:13px 0 10px;
}


footer:before {
    display:block;
    content:"";
    background:url(../img/gray_shadow_top.png) repeat-x;
    position:absolute;
    width:100%;
    height:9px;
    top:-9px;
    color:#bfbfbf;
    left:0;
}

footer h4, footer p {
    color:#bfbfbf;
}

footer h4 {
    margin-bottom:18px;
}

footer p {
    margin-bottom:0;
}

.social-icons {
    display:block;
    width:31px;
    height:31px;
    background:url(../img/sprite_social.png) no-repeat 0 0;
    float:right;
    margin-left:5px;
}


.social-youtube {
    background-position:0 0;
}

.social-google {
    background-position:-31px 0;
}

.social-vk {
    background-position:-62px 0;
}
.social-facebook {
    background-position:-93px 0;
}

.social-twitter {
    background-position:-124px 0;
}





.social-icons:hover {
    background-position-y:-31px;
}

.copyrights p {
    font-size:12px;
}

.footer-rows {
    margin-bottom:30px;
}

.made-by {
    float:right;
}

.made-by a {
    cursor:pointer;
    text-decoration:none;
    color:#bfbfbf;
}

.made-by a:hover {
    text-decoration:underline;
}
/*footer*/

/*registration popup*/

.modal-registration {
    width:520px;
}

.modal-content {
    background:#f0efef;
    color:#888888;
}

.login-registration {
    float:right;
    margin:4px 0 0 0;
}

.login-registration li {
    display:inline-block;
    margin-left:40px;
}

.login-registration li:first-child {
    margin:0;
}

.login-registration a {
    color:#aaaaaa;
    text-decoration: none;
}

.login-registration a:hover {
    color:#333333;
}

.cloud-btn {
    display:block;
    width:242px;
    height:29px;
    background:url(../img/soundcloud.png) no-repeat;
}

.cloud-btn:hover {
    opacity:0.8;
}

.enter-via-social {
    margin-top:20px;
}

.enter-social-btn {
    display:block;
    width: 221px;
    height: 37px;
    background:url(../img/sprite_social_btns.png) 0 0 no-repeat;
    color:#fff;
    font-size:14px;
    text-decoration:none;
    padding-left: 48px;
    padding-top: 8px;
}

.enter-vk {
    float:right;
    background-position:-222px 0;
    margin-right: -2px;
}

.enter-social-btn:hover {
    color:#fff;
    background-position-y: -36px;
}

.popup-sep-title {
    display:block;
    text-align:center;
    background:url(../img/popup_line.png) 0 center repeat-x;
    color:#888888;
    margin:20px 0;
}

.popup-sep-title span {
    background:#f0efef;
    padding: 0 10px;
}

.email-enter label {
    display:block;
    background:#fff;
    border-radius:5px;
    cursor:pointer;
    margin-bottom: 8px;
}

.email-enter label input {
    background:none;
    border:none;
    padding: 7px 10px;
    color:#888888;
    width:100%;
    box-sizing: border-box;
    padding-left: 60px;
}
.modal-registration label input {
    padding: 7px 10px;
}
.email-enter label input:active,
.email-enter label input:focus {
    outline:none;
}

.email-enter label i {
    width:50px;
    height:25px;
    margin:5px 10px 5px 0;
    position: absolute;
    border-right:1px dotted #C7C7C7;
    background:url(../img/ico_login.png) 18px 3px no-repeat;
}

.email-enter .password-panel i {
    background-position:18px -45px;
}

.rememb-password {
    font-weight:normal;
    cursor:pointer;
}

.rememb-password input {
    position:relative;
    top:2px;
    margin-right:5px;
}

.forget-pass {
    float:right;
    color:#888888;
}

.forget-pass:hover {
    color: #333333;
}

.modal-footer {
    border-top:1px solid #e4e9ee;
    background:#eff3f8;
    text-align:left;
}

.enter-btn {
    font-weight:bold;
    font-size:20px;
    float:right;
    color:#888888;
    background: rgb(240,239,239); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(240,239,239,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,239,239,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,239,239,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,239,239,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,239,239,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,239,239,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0efef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border-radius:6px;
    border:1px solid #D1D0D0;
}

.enter-btn i {
    display:inline-block;
    width:12px;
    height:12px;
    background: url(../img/enter_btn_ico.png) 0 0 no-repeat;
    margin:0 10px 0 8px;
}

.cancel-btn {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    background:#BF544E;
}

.btn-mod-footer:active,
.btn-mod-footer:focus {
    box-shadow:none;
    outline:none;
    color:#fff;
}

.cancel-btn:hover {
    background:none;
    color:#BF544E;
}

.enter-btn:hover {
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(240,239,239,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(240,239,239,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,239,239,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,239,239,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(240,239,239,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0efef',GradientType=0 ); /* IE6-9 */
}

.btn-mod-footer {
    padding:0 12px;
    height:42px;
    line-height:2;
}

.btn-mod-footer i {
    display: inline-block;
    width: 20px;
    height: 21px;
    background: url(../img/ico_popup.png) 0 -4px no-repeat;
    position: relative;
    top: 4px;
    margin-left:20px;
}


.btn-mod-footer.enter-btn i {
    background-position: -23px 1px;
    width: 27px;
    height: 27px;
    top: 5px;
}

.modal-registration .modal-body {
    padding-bottom:0;
}

.enter-btn:hover i {
    background-position:0  -12px;
}

.cancel-btn:hover i {
    background-position-y: -30px;
}

.modal-header {
    height: 37px;
    padding: 10px;
}

/*registration popup*/



/*responsive*/

@media (max-width: 767px) {

    header {position:static;}
    header .container {margin:0;}
    .main-navigation a {padding: 32px 10px 0;}
    #mainSlider .carousel-desc p {font-size:16px;}
    #mainSlider .carousel-desc {margin-bottom:2%;}
    .carousel-caption {top:0%; padding-top:0;}
    .slider-arrows {top:35%;}
    #mainSlider .item-btn {width:141px; height:28px;}
    .carousel-indicators {right:20px;}
    .partners-row-list li {display:block;float:none;margin:10px auto; width:200px;}
    .partners-row-list li:first-child {margin-left:auto;}
    .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7 {float:none;width:100%;margin-bottom:30px;}
    #mainSlider .item-btn {background-size: auto 56px;}
    #mainSlider .item-btn:hover {background-position-y:-28px;}
    .participant-table {width:100%; padding:0;}
    .col-xs-12 {padding:0;}

}

/*responsive*/